= form_for @birthday do |f|
  -if @birthday.errors.any?
    #errorExplanation
      %ul
        - @birthday.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    = f.label :nickname, 'ニックネーム'
    = f.text_field :nickname
  %fieldset.birth_day
    = f.label :birthday, '誕生日'
    = f.date_select :birthday, :use_month_numbers => true, :start_year => 0.years.ago.year, :end_year => 100.years.ago.year, :default => 30.years.ago, :date_separator => '<span>-</span>'
  %fieldset.actions
    = f.submit 'これでいいよ'
