.happy-day(class="#{happy_day[:date].past? ? 'past' : ''}")

  <span class='date'>#{l(happy_day[:date].to_date, :format => :long)} </span>、
  生まれてから<span class='days'>#{happy_day[:days]}日目</span>（<span class='age'>#{happy_day[:age]}歳</span>）
  - if happy_day[:date].past?
    でした
  - else
    です
  %span.calender
    <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=#{@birthday.nickname}さんが生まれてから#{happy_day[:days]}日目&dates=#{happy_day[:date].strftime('%Y%m%d')}/#{1.day.since(happy_day[:date]).strftime("%Y%m%d")}&details=#{@birthday.nickname}さんが生まれてから#{happy_day[:days]}日目です&location=&trp=false&sprop=#{uuid_path(@birthday.uuid)}&sprop=name:HAPPY%201000%20DAYS" target="_blank">Googleカレンダーに追加</a>
    
