%h1 Listing birthdays

%table
  %tr
    %th Nickname
    %th Birthday
    %th
    %th
    %th

  - @birthdays.each do |birthday|
    %tr
      %td= birthday.nickname
      %td= birthday.birthday
      %td= link_to 'Show', birthday
      %td= link_to 'Edit', edit_birthday_path(birthday)
      %td= link_to 'Destroy', birthday, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New birthday', new_birthday_path
