:javascript
  $(function(){
    $('#view-all').click(function(){
      $('.all').show();
    });
  });
%p
  #{@birthday.nickname}さんの誕生日は、#{l(@birthday.birthday.to_date, :format => :long)}です
%p
  #{@birthday.nickname}さんが生まれてから、 今日で#{@birthday.current_days}日目です。

- if @birthday.happy_day_today?
  Today is Good Day!

.next
  %h3 次回のHappy Dayは
  = render :partial => 'happy_day', :locals => {:happy_day => @birthday.next_happy_day}

.prev
  %h3 前回のHappy Dayは
  = render :partial => 'happy_day', :locals => {:happy_day => @birthday.prev_happy_day}

%button#view-all
  全てのHappy Dayを見る
.all(style='display:none;')
  - for happy_day in @birthday.happy_days
    .happy-day
      = render :partial => 'happy_day', :locals => {:happy_day => happy_day}
    
