- title "#{@birthday.nickname}さんのHAPPY 1000 DAYS!!"

:javascript
  $(function(){
    $('#view-all').click(function(){
      $('.all').slideDown();
      $(this).hide();
    });
  });

.content
  .profile
    .count
      %h2.title
        #{@birthday.nickname}さんの誕生日は
      %p
        %span.date=l(@birthday.birthday.to_date, :format => :long)
      %h2.title 生まれてから今日で
      - if @birthday.happy_day_today?
      %p
        ちょうど
        %span.days= @birthday.current_days
        日目（
        %span.age #{@birthday.current_age}歳
        ）
    .shares
      %p
        #{@birthday.nickname}さんの<br />HAPPY 1000 DAYSを<br />みんなに教えてあげる
      <a href="http://twitter.com/share" class="twitter-share-button" data-text="#{@birthday.nickname}さんのHAPPY1000DAYS!! #happy1000days" data-count="horizontal" data-lang="ja">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <iframe src="http://www.facebook.com/plugins/like.php?href=#{uuid_url(@birthday.uuid)}&amp;layout=button_count&amp;show_faces=true&amp;width=152&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:152px; height:21px;" allowTransparency="true"></iframe>

- if @birthday.birthday?
  .todayisbirthday
    %h2.title おめでとう！
    %p
      今日は#{@birthday.nickname}さんの#{@birthday.current_age}歳の誕生日です！
.future.happy_days
  %h2.title これから来るちょっと嬉しい日
  %ul.happy_days
    - for happy_day in @birthday.future_happy_days[0..5]
      = render :partial => 'happy_day', :locals => {:happy_day => happy_day}
    =# link_to 'more', '#'

.past.happy_days
  %h2.title これまでに来たちょっと嬉しい日
  %ul.happy_days
    - for happy_day in @birthday.past_happy_days.reverse[0..5]
      = render :partial => 'happy_day', :locals => {:happy_day => happy_day}
    =# link_to 'more', '#'

