- title "#{@birthday.nickname}さんのHAPPY 1000 DAYS!!"

:javascript
  $(function(){
    $('#view-all').click(function(){
      $('.all').slideDown();
      $(this).hide();
    });
  });

.profile.rounded
  .title
    #{@birthday.nickname}さんの誕生日
  .content
    %p
      誕生日は
      %span.date=l(@birthday.birthday.to_date, :format => :long)
      %br
      生まれてから今日で
      - if @birthday.happy_day_today?
        ちょうど
      %span.days= @birthday.current_days
      日目（
      %span.age #{@birthday.current_age}歳
      ）
  .shares
    <a href="http://twitter.com/share" class="twitter-share-button" data-text="#{@birthday.nickname}さんのHAPPY1000DAYS!! #happy1000days" data-count="vertical" data-lang="ja">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <iframe src="http://www.facebook.com/plugins/like.php?href=#{uuid_url(@birthday.uuid)}&amp;layout=box_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:65px;" allowTransparency="true"></iframe>

- if @birthday.birthday?
  .todayisbirthday
    今日は#{@birthday.nickname}さんの#{@birthday.current_age}歳の誕生日です！おめでとう！

.future.rounded
  .title これから来るちょっと嬉しい日
  .content
    - for happy_day in @birthday.future_happy_days[0..5]
      = render :partial => 'happy_day', :locals => {:happy_day => happy_day}
    =# link_to 'more', '#'

.past.rounded
  .title これまでに来たちょっと嬉しい日
  .content
    - for happy_day in @birthday.past_happy_days.reverse[0..5]
      = render :partial => 'happy_day', :locals => {:happy_day => happy_day}
    =# link_to 'more', '#'

