!!!
%html
  
  %head
    %title
      = yield(:title) || "Happy 1000 Days!!"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "style"
    =# stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold&subset=latin'
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)
    :css
      h1 {
        font-family: 'Yanone Kaffeesatz', arial, serif;
      }
    - if Rails.env == 'production'
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-845066-8']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    
    #container
      
      #header
        %h1= link_to 'HAPPY 1000 DAYS', root_path
        %p ちょっとうれしい、生まれてからの日数がわかるサービスです
    
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      = yield
      
      #footer
        Created by #{link_to '@func09', 'http://twitter.com/func09'} #{link_to 'http://www.func09.com'}
